.landing-page {
    font-family: "BC Sans";
    background-image: url("../assets/bc_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.map-container {
    border: 2px solid #003366;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 500px;
    margin-top: 25px;
}